*{
	margin: 0px;
	padding: 0px;
}

html {
    height: 100%;
    background-color: cyan;
}

body {
	display: flex;
    height: 100%;
    background-image: linear-gradient(to bottom right, rgb(88, 0, 255)30%, rgb(0, 150, 255)70%);
    box-sizing: border-box;
    flex-direction: column;
    color: white;
    justify-content: space-between;
    font-family: 'Kanit', sans-serif;
}

/*Lingkaran*/
.lingkaran{
	border-radius: 50%;
	height: 500px;
	width: 500px;
	position: absolute;
	background-color: rgba(114, 255, 255, 0.5);
	transform: translate(-30%, -30%);
	z-index: 1;
}

header, main, footer{
	z-index: 2;
}

main{
	display: flex;
	flex-direction: row-reverse;
	padding-right: 70px;
	text-align: center;
	overflow-y: hidden;
}

aside{
	flex: 30%;
}

aside article{
	margin-left: 30%;
}

div.content{
	flex: 70%;
	margin-right: 40px;
}

div.content article{
	text-align: left;
	width: 100%;
}

div.content article h1{
	font-family: 'Oswald', sans-serif;
	font-size: 40px;
	margin-bottom: 30px;
	animation: anim-content 1s;
}

div.content article p{
	animation: anim-content 2s;
}


nav{
	padding: 20px;
}

nav ul{
	display: flex;
}

nav ul li{
	padding: 0px 50px;
}

li{
	list-style: none;
}

span{
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	transition: 0.5s;
	cursor: pointer;
}

span:hover{
	border: 2px solid white;
	border-radius: 40px;
	padding: 10px;
	font-weight: bold;
}

article{
	margin: 0px 100px;
}

footer{
	text-align: center;
	padding: 20px 0px;
}

/*Flip Card*/
div.flip-card{
	width: 300px;
	height: 300px;
	border-radius: 50%;
	filter: opacity(0%);
	animation: anim-aside ease-out 1s 1.5s forwards;
}

.flip-card-inner{
	width: 100%;
	height: 100%;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	border-radius: 50%;
}

.flip-card:hover .flip-card-inner{
	transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back{
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	border-radius: 50%;
}

.flip-card-front{
	background-image: url("foto_profile1.jpeg");
	background-size: cover;
}

.flip-card-back{
	background-image: url("foto_profile1.jpeg");
	background-size: cover;
	transform: rotateY(180deg);
}

.flip-card-back ul{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.7);
}

.flip-card-back ul li{
	font-family: 'Combo', cursive;
	font-size: 25px;
}


@media(max-width: 1040px){
	div.content article h1{
		font-size: 25px;
	}
}

@media(max-width: 915px){
	*{
		box-sizing: border-box;
	}
	body{
		height: auto;
	}
	main{
		flex-direction: column;
		margin-top: 30px;
		margin-left: 30px;
	}

	aside, div.content{
		margin-bottom: 50px;
	}

	article.about{
		padding-right: 100px;
	}
}

@media(max-width: 650){
}

/*Animasi untuk aside*/

@keyframes anim-aside{
	from{
		transform: translateX(500px);
		filter: opacity(0%);
	}to{
		transform: translateX(0px);
		filter: opacity(100%);
	}
}

/*Animasi untuk content*/

@keyframes anim-content{
	from{
		transform: translateY(300px);
	}to{
		transform: translateY(0px);
	}
}
