*{
	margin: 0px;
	padding: 0px;
}

html {
    height: 100%;
    background-color: cyan;
}

body {
	display: flex;
    height: 100%;
    background-image: linear-gradient(to bottom right, rgb(88, 0, 255)30%, rgb(0, 150, 255)70%);
    box-sizing: border-box;
    flex-direction: column;
    color: white;
    justify-content: space-between;
}

main{
	display: flex;
	flex-direction: row-reverse;
	padding: 40px;
	text-align: center;
}

aside{
	flex: 30%;
}

div.content{
	flex: 70%;
	margin-right: 40px;
}

div.content article{
	text-align: left;
	width: 100%;
}

div.content article h1{
	font-size: 30px;
	margin-bottom: 30px;
}

nav{
	padding: 20px;
}

nav ul{
	display: flex;
}

nav ul li{
	padding: 0px 50px;
}

li{
	list-style: none;
}

a{
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
}

a:hover{
	border: 2px solid white;
	border-radius: 40px;
	padding: 10px;
	font-weight: bold;
}

img{
	width: 300px;
	height: 300px;
	border-radius: 50%;
}

article{
	margin: 0px 100px;
}

footer{
	text-align: center;
	padding: 20px 0px;
}

@media(max-width: 1040px){
	div.content article h1{
		font-size: 25px;
	}
}

@media(max-width: 915px){
	*{
		box-sizing: border-box;
	}
	body{
		height: auto;
	}
	main{
		flex-direction: column;
		margin-top: 30px;
		margin-right: 20px;
	}

	aside, div.content{
		margin-bottom: 50px;
		/*margin-right: 30px;*/
	}

	article.about{
		padding-right: 100px;
	}
}

@media(max-width: 680px){

}